<div class="container-menu">
  <div class="header-menu">
    <div class="nav-content">
      <div class="menu-toggle">
        <div class="menu-toggle__bar"></div>
        <div class="menu-toggle__bar"></div>
        <div class="menu-toggle__bar"></div>
      </div>
      <button class="btn btn--primary-1">
        <a href="#"><h5>فروشگاه بانواز</h5></a>
      </button>
    </div>
    <div class="desktop--nav">
      <div class="desktop--nav__buttons">
        <button class="btn download--btn">
          <a href=""><h5>دانلود اپلیکیشن</h5></a>
        </button>
        <button class="btn btn--primary-1">
          <a href=""><h5>ورود به داشبورد</h5></a>
        </button>
      </div>
      <a href=""> <h2>خانه</h2> </a><a href=""> <h2>فروشگاه</h2> </a>
      <a href=""><h2>درباره ما</h2></a>
    </div>
    <div class="logo"><h1 style="color: #ffff">لوگو</h1></div>
  </div>
  <div class="menu">
    <ul>
      <li>
        <a href="">
          <h5>خانه</h5>
        </a>
      </li>
      <li>
        <a href="">
          <h5>درباره ما</h5>
        </a>
      </li>
      <li>
        <a href="">
          <h5>ورود به داشبورد</h5>
        </a>
      </li>
      <li>
        <a href="">
          <h5>دانلود اپلیکیشن</h5>
        </a>
      </li>
    </ul>
  </div>
  <script src="./js/menu.js"></script>
</div>
